.faq{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f7fa;
    position: relative;
}

.container-grid{
    margin: 6em 4em;
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 30em 30em 30em;
    grid-template-rows: 24em 24em;   
    justify-content: center;
    margin: 0 auto;
    gap: 1em;
    margin-bottom: 4em;
}

.grid-item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .2s ease;
    cursor: pointer;
}

.grid-item img{
    width: 20%;
}

.grid-item h1{
    font-size: 2em;
    color: #133771;
    text-align: center;
}

.grid-item p{
    font-size: 1.3em;
    line-height: 1.4em;
    text-align: center;
    width: 80%;
}

.grid-item:hover{
    transform: scale(1.1);
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 900px){
    .container-grid{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        justify-content: center;
    }
    .grid-item{
        width: 100%;
        height: 100%;
        margin: 2em auto;
    }
}

@media screen and (max-width: 600px){
    .container-grid{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
    }
    .grid-item{
        width: 70%;
        height: 100%;
        margin: 2em auto;
    }
}

