#subscribe{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/bk.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.susbcribe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.susbcribe h1{
    text-align: center;
    color: #fff;
    font-size: 3.5em;
    font-weight: 100;
    margin: 1.4em 0;
}

form{
    position: relative;
    width: 30em;
    height: 4em;
    display: flex;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

input{
    padding: 0 1em;
    background: transparent;
    width: 80%;
    height: 100%;
    border: .5px solid #fff;
    color: #fff;
    border-radius: 0.5em 0 0 0.5em;
    outline: none;
}

button{
    background-color: #00B0FF;
    border: 1px solid #00B0FF;
    width: 20%;
    height: 103%;
    border-radius: 0 .5em 0.5em 0;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    transition: all .5s ease;
}

button:hover{
    box-shadow: rgba(46, 217, 240, 0.4) 0px 5px, rgba(46, 201, 240, 0.3) 0px 10px, rgba(46, 217, 240, 0.2) 0px 15px, rgba(46, 208, 240, 0.1) 0px 20px, hsla(193, 87%, 56%, 0.05) 0px 25px;
}

.social-icon{
    margin: 4em 0;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon-sb{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
    border: 1.5px solid white;
    border-radius: 50%;
    opacity: .6;
}

.icon-sb:hover{
    opacity: 1;
}

.subs-panel{
    width: 50%;
    height: 30em;
    background-color: #fff;
    position: absolute;
    top: -50%;
    border-radius: .5em;
    border: 2px solid rgba(19, 55, 113, 0.957);
    box-shadow:blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(45, 57, 242) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(83, 93, 247) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(151, 175, 249) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(179, 224, 247) 40px -40px;
}

.mail-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
    border: 2px solid rgba(19, 55, 113, 0.957);
    border-radius: 50%;
}

.window-subs{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.close-icon{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em 1em;
    cursor: pointer;
}

.img-email{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.img-email img{
    width: 80%;
}

.text-email{
    width: 50%;
    text-align: center;
    color: #333;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-email p{
    text-align: center;
    font-size: 1.5em;
    line-height: 1.4;
    width: 85%;
}

.text-email h1{
    text-align: center;
    font-size: 3.5em;
    font-weight: 300;  
    position: relative; 
    padding: .3em 0; 
}

.text-email h1::after{
    content: "";
    height: 2px;
    width: 65%;
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 18%;
}