a{
    text-decoration: none;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 300;
    margin: 0 1rem;
    transition: all .5s;
}

a:hover{
    color: #00B0FF;
}

a.btn-orange:hover{
    color: #00B0FF;
    background-color: transparent;
    border: 2px solid #00B0FF;
}

a.btn{
    border-radius: .5rem;
    font-weight: 500;
    padding: .5rem 1rem;
}

a.btn-light{
    border: 2px solid white;
    background: transparent;
}

a.btn-light:hover{
    border: 2px solid #00B0FF;
}

a.btn-orange{
    border: 2px solid transparent;
    color: white;
    background-color: #00B0FF;
}