.feature{
    display: flex;
    align-items: flex-start;
    margin-bottom: 4rem;
    width: 50%;
    padding-left: 5em;
    transition: all .2s ease-in;
}

.feature:hover {
    transform: scale(1.05);
}

.feature-icon{
    position: relative;
    margin-right: 2rem;
}

.inner-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.feature-text h3{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.4;
    color: #3e97cf;
    margin: 0;
    margin-bottom: .5rem;
}

.feature-text p{
    width: 100%;
    line-height: 1.4;
    font-size: 1em;
    color: #333;
    margin: 0;
}

@media screen and (max-width: 850px){
    .feature-text p{
        width: 60%;
    }
    .feature{
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 650px){
    .feature{
        width: 60%;
        padding: 0;
    }
    .feature-text p{
        width: 100%;
    }
}