@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

body {
    font-family:'Helvetica Neue',Helvetica,'Segoe UI',Tahoma,Arial,sans-serif;;
    width: 100%;
    height: 100%;
    margin: 0;
    scroll-behavior:smooth;
}

html{
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-size: 10px;
  scroll-behavior: smooth;
}

/* title utility */
.u-title{
  text-align: center;
  margin-bottom: 6rem;
  margin-top: 6rem;
}

.u-title h2{
  font-size: 2.5rem;
  font-weight: 300;
  margin: 1.5rem 0;
  line-height: 1.4;
  color: #333;
}

.u-title p{
  width: 30%;
  line-height: 1.4;
  margin: 0 auto;
  font-size: 1.2rem;
  color: #333;
}

@media screen and (max-width: 650px){
  .u-title p{
    width: 60%;
  }
}